<link href="/css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">



<div class="logo">Im Yo Weather Man 
    <div class="logo img">
      
	  <img src="/images/anchorone.png" />
	  
    </div>
	
	  
 </div>
 

  <div class="forcast" >
  
  <div class="forcast row">
     <div class="city" style="padding-top:30px;">
        <li><a href="/about">About</a> </li>
      </div>
  </div>
  
  <div class="forcast row">
      <div class="city" style="padding-top:30px;">
         <li><a href="/getmyweather">Fetch Yo Weather </a></li>
       </div>
  </div>	   
 
   <div class="about-description" style="padding-top:30px;">
      Im Yo Weatherman and I fetch the weather using the underground weather API with Node.js JavaScript EJS CSS 
   </div>
  
   
 
  </div>
  
 
  </div>
  
  
  
  